[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8

# Remove whitespace characters preceding the end of a line
trim_trailing_whitespace = true

# Files have a blank line at the end
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
